<?xml version="1.0"?>
<config>
	<modules>
		<Interactiv4_PackedShipment>
			<version>1.0.1</version>
		</Interactiv4_PackedShipment>
	</modules>
	<global>
        <models>
            <i4packedshipment>
                <class>Interactiv4_PackedShipment_Model</class>
            </i4packedshipment>
        </models>
        <blocks>
			<i4packedshipment>
				<class>Interactiv4_PackedShipment_Block</class>
			</i4packedshipment>
		</blocks>
		<helpers>
		     <i4packedshipment>
		         <class>Interactiv4_PackedShipment_Helper</class>
		     </i4packedshipment>
		 </helpers>
	</global>
    <adminhtml>
        <translate>
            <modules>
                <Interactiv4_PackedShipment>
                    <files>
                        <default>Interactiv4_PackedShipment.csv</default>
                    </files>
                </Interactiv4_PackedShipment>
            </modules>
        </translate>
        <layout>
        	<updates>
        		<i4packedshipment>
        			<file>i4packedshipment.xml</file>
        		</i4packedshipment>
        	</updates>
        </layout>
    </adminhtml>
    
    <admin>
        <routers>
            <i4packedshipment>
                <use>admin</use>
                <args>
                    <module>Interactiv4_PackedShipment</module>
                    <frontName>i4packedshipment</frontName>
                </args>
            </i4packedshipment>
        </routers>
    </admin>    
    
    <default>
        <i4packedshipment>
            <general>
                <active>1</active>
            </general>
            <useDescriptionsInsteadOfReferences>0</useDescriptionsInsteadOfReferences>
        </i4packedshipment>
    </default>      
</config><?xml version="1.0"?>
<config>
	<modules>
		<Interactiv4_PackedShipment>
			<version>1.0.1</version>
		</Interactiv4_PackedShipment>
	</modules>
	<global>
        <models>
            <i4packedshipment>
                <class>Interactiv4_PackedShipment_Model</class>
            </i4packedshipment>
        </models>
        <blocks>
			<i4packedshipment>
				<class>Interactiv4_PackedShipment_Block</class>
			</i4packedshipment>
		</blocks>
		<helpers>
		     <i4packedshipment>
		         <class>Interactiv4_PackedShipment_Helper</class>
		     </i4packedshipment>
		 </helpers>
	</global>
    <adminhtml>
        <translate>
            <modules>
                <Interactiv4_PackedShipment>
                    <files>
                        <default>Interactiv4_PackedShipment.csv</default>
                    </files>
                </Interactiv4_PackedShipment>
            </modules>
        </translate>
        <layout>
        	<updates>
        		<i4packedshipment>
        			<file>i4packedshipment.xml</file>
        		</i4packedshipment>
        	</updates>
        </layout>
    </adminhtml>
    
    <admin>
        <routers>
            <i4packedshipment>
                <use>admin</use>
                <args>
                    <module>Interactiv4_PackedShipment</module>
                    <frontName>i4packedshipment</frontName>
                </args>
            </i4packedshipment>
        </routers>
    </admin>    
    
    <default>
        <i4packedshipment>
            <general>
                <active>1</active>
            </general>
            <useDescriptionsInsteadOfReferences>0</useDescriptionsInsteadOfReferences>
        </i4packedshipment>
    </default>      
</config<?xml version="1.0"?>
<config>
	<modules>
		<Interactiv4_PackedShipment>
			<version>1.0.1</version>
		</Interactiv4_PackedShipment>
	</modules>
	<global>
        <models>
            <i4packedshipment>
                <class>Interactiv4_PackedShipment_Model</class>
            </i4packedshipment>
        </models>
        <blocks>
			<i4packedshipment>
				<class>Interactiv4_PackedShipment_Block</class>
			</i4packedshipment>
		</blocks>
		<helpers>
		     <i4packedshipment>
		         <class>Interactiv4_PackedShipment_Helper</class>
		     </i4packedshipment>
		 </helpers>
	</global>
    <adminhtml>
        <translate>
            <modules>
                <Interactiv4_PackedShipment>
                    <files>
                        <default>Interactiv4_PackedShipment.csv</default>
                    </files>
                </Interactiv4_PackedShipment>
            </modules>
        </translate>
        <layout>
        	<updates>
        		<i4packedshipment>
        			<file>i4packedshipment.xml</file>
        		</i4packedshipment>
        	</updates>
        </layout>
    </adminhtml>
    
    <admin>
        <routers>
            <i4packedshipment>
                <use>admin</use>
                <args>
                    <module>Interactiv4_PackedShipment</module>
                    <frontName>i4packedshipment</frontName>
                </args>
            </i4packedshipment>
        </routers>
    </admin>    
    
    <default>
        <i4packedshipment>
            <general>
                <active>1</active>
            </general>
            <useDescriptionsInsteadOfReferences>0</useDescriptionsInsteadOfReferences>
        </i4packedshipment>
    </default>      
</config>>
