<?xml version="1.0"?>
<config>
    <modules>
        <Interactiv4_TableRates>
            <version>0.1.0</version>
        </Interactiv4_TableRates>
    </modules>
    <global>
        <models>
            <i4tablerates>
                <class>Interactiv4_TableRates_Model</class>
                <resourceModel>i4tablerates_mysql4</resourceModel>
            </i4tablerates>
            <i4tablerates_mysql4>
                <class>Interactiv4_TableRates_Model_Mysql4</class>
            </i4tablerates_mysql4>
        </models>
        <resources>
            <i4tablerates_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </i4tablerates_write>
            <i4tablerates_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </i4tablerates_read>
        </resources>        
        <blocks>
            <i4tablerates>
                <class>Interactiv4_TableRates_Block</class>
            </i4tablerates>                 
        </blocks>
        <helpers>
            <i4tablerates>
                <class>Interactiv4_TableRates_Helper</class>
            </i4tablerates>
        </helpers>      
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Interactiv4_TableRates>
                    <files>
                        <default>Interactiv4_TableRates.csv</default>
                    </files>
                </Interactiv4_TableRates>
            </modules>
        </translate>

        <layout>            
            <updates>
                <i4tablerates>
                    <file>i4tablerates.xml</file>
                </i4tablerates>
            </updates>
        </layout>   
    </adminhtml>
    <frontend>
        <layout>            
            <updates>
                <i4tablerates>
                    <file>i4tablerates.xml</file>
                </i4tablerates>
            </updates>
        </layout>           
        <translate>
            <modules>
                <Interactiv4_TableRates>
                    <files>
                        <default>Interactiv4_TableRates.csv</default>
                    </files>
                </Interactiv4_TableRates>
            </modules>
        </translate>
    </frontend>
    <admin>        
        <routers>
            <i4tablerates>
                <use>admin</use>
                <args>
                    <module>Interactiv4_TableRates</module>
                    <frontName>i4tablerates</frontName>
                </args>
            </i4tablerates>
        </routers>
    </admin> 
    <frontend>        
        <routers>
            <i4tablerates>
                <use>standard</use>
                <args>
                    <module>Interactiv4_TableRates</module>
                    <frontName>i4tablerates</frontName>
                </args>
            </i4tablerates>
        </routers> 
    </frontend>   
    
</config>
