.blog-list li {margin-bottom: 50px; padding-bottom: 60px; border-bottom: 1px solid  #e3e3e3;}
.postWrapper {
    clear: both;
}
.blog-list li .post_img_block {float: left;}
.postTitle {
    margin-bottom: 25px;
}

.postTitle h2 {
    font-size: 30px;
    line-height: 30px;
    font-weight: 300;
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
}

.postTitle h3 {
    font-size: 10px;
    margin: 0px;
    padding-top: 2px;
    padding-right: 0px;
    padding-bottom: 2px;
    padding-left: 0px;
}
.postTitleTop {margin-top: 60px;}
.postContent {
    overflow: hidden;
}
.blog-list .postContent img {}
.postDetails {
    font-size: 15px;
    padding: 0 0 20px;
    color: #fdcfbf;
}
.postDetails a,
.postDetails-tags li a {color: #fdcfbf;}
.postDetails a:hover,
.postDetails-tags li a:hover {color: #000;}
.postDetails i {
    margin-right: 3px;
}
.postDetails span {
    margin-right: 12px;
}
.aw-blog-read-more {
    display: table;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    color: #888;
    line-height: 42px;
    padding: 0 25px;
    margin-top: 25px;
    position: relative;
    z-index: 2;
}
.blog-list .aw-blog-read-more { background: #88e2df; position: relative;}
.blog-list .aw-blog-read-more:after,
.blog-list .aw-blog-read-more:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    background: #fff;
    opacity: .2;
}
.blog-list .aw-blog-read-more:before {
    left: 0;
    top: 0;
}
.blog-list .aw-blog-read-more:after {
    right: 0;
    bottom: 0;
}
.blog-list .aw-blog-read-more:hover {color: #fff;}
.blog-list .aw-blog-read-more:hover:after,
.blog-list .aw-blog-read-more:hover:before{
    width: 100%;
    height: 0;
}
.blog-list .aw-blog-read-more:before,
.blog-list .aw-blog-read-more:after {
    height: 100%;
}
.blog-bg .aw-blog-read-more {
    display: block;
    width: 18px;
    height: 18px;
    background: url(../images/blog_arrow.png) right 0 no-repeat;
    padding: 10px 0 0 0 !important;
}
.blog-bg .blog_item:hover .aw-blog-read-more {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-transform-origin: top center;
    transform-origin: top center;
    -webkit-animation-name: swing;
    animation-name: swing;
}
.blog-bg .aw-blog-read-more:hover {padding-right: 10px; width: 28px;}
.aw-blog-read-more span {position: relative;}
.aw-blog-read-more:hover,
.aw-blog-read-more:focus {   color: #fff;}
.postBookmarks {
    padding-bottom: 10px;
}

.postBookmarks h4 {

    font-size: 12px;
    font-weight: bold;
}

.commentWrapper {
    padding: 15px;
    margin-bottom: 25px;
    border: 1px solid #d6d6d6;
}
.commentWrapper:after {
    content: "";
    display: table;
    clear: both;
}
.commentWrapper i {
    font-size: 16px;
    margin-right: 5px;
}

.commentContent {
    padding-bottom: 0px;
}

.commentDetails {
   margin-bottom: 15px;
   font-size: 14px;
   text-transform: uppercase;
   color: #fdcfbf;
}
.commentDetails > span {

}
.commentDetails .postDetails-user {margin-right: 10px;}
.commentDetails h4.username {
    display: inline;
}

.postError {
    font-size: 16px;
}

.tags {

}
.postDetails-tags h4 {
    display: none;
}
.postDetails-tags ul:before {
    content: "\f02b";
}

.tags UL {
    display: inline;
}

.tags UL LI {
    font-weight: normal;
    display: inline;
    padding-right: 6px;
}

.tags h4 {
    font-size: 12px;
    font-weight: bold;
}

.menu-tags, .menu-categories, .menu-recent {
    margin: 5px 9px;
}

.menu-tags h5, .menu-categories h5, .menu-recent h5 {

}

.block-blog .menu-tags UL LI {
    display: inline;
    padding: 2px;
    margin-left: 10px;
}

.block-blog .menu-categories UL LI {
    margin-left: 10px;
}

.block-blog .menu-recent UL LI {
    margin-left: 10px;
    margin-bottom: 5px;
}

.block-blog .menu-recent UL LI a, .block-blog .menu-categories UL LI a, .block-blog .menu-tags UL LI a {

}

.tagcloud {
    /* text-align:center; */
}

.tag-count-1 {
    font-size: 1em !important;
}

.tag-count-2 {
    font-size: 1.2em !important;
}

.tag-count-3 {
    font-size: 1.4em !important;
}

.tag-count-4 {
    font-size: 1.6em !important;
}

.tag-count-5 {
    font-size: 1.8em !important;
}

.tag-count-6 {
    font-size: 2em !important;
}

.tag-count-7 {
    font-size: 2em !important;
}

.tag-count-8 {
    font-size: 2em !important;
}

.tag-count-9 {
    font-size: 2em !important;
}

.tag-count-10 {
    font-size: 2em !important;
}

.block-blog .head h4 {
    padding-left: 20px;
}

.block-blog .block-title strong {

}
.block-blog .block-subtitle,
.menu-tags h5 {
    text-transform: capitalize;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000;
}
.postWrapper .poster {
    display: inline;
}

.input-box.aw-blog-comment-area {
    width: 100%;
}


.block-blog .menu-categories {
    margin: 0;
    padding: 5px 9px;
}

.awblog_current_comment {
    text-decoration: none !important;
    font-weight: bold !important;
}



.blog-bg {
    padding-top: 50px;
}
.widget-latest-title {margin-bottom: 16px;}
.widget-latest-title a {
    font-size: 24px;
    line-height: 35px;
    color: #333333;
    text-transform: uppercase;
}
.widget-latest-title a:hover {color: #fdcfbf;}
.blog-bg .postContent {
    font-size: 13px;
    line-height: 27px;
    padding: 0;
    margin-bottom: 28px;
}
.blog-bg .postContent img {
    position: relative; 
    margin-right: 0 !important; 
    float: none !important;
    max-width: 100%;
}

.widget-latest-details {
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    padding: 10px 0 11px;
}
.widget-latest-details,
.widget-latest-details a {font-size: 13px; font-weight: 300; color: #333333;}
.widget-latest-details .widget-latest-data,
.widget-latest-details .widget-latest-comment {
    margin: 5px 10px 5px 0;
    padding-right: 12px;
    border-right: 1px solid #e5e5e5;
    display: inline-block;
}
.widget-latest-details i {margin-right: 5px; font-size: 20px; color: #d6d6d6;}
.widget-latest-details .widget-latest-comment:hover {color: #fe3c3c;}
.post_img_block,
.post_text_block {
    display: block;
}
.post_img_block img {width: 95%;}
.right_side_blog_block,
.left_side_blog_block {
}
.left_side_blog_block .post_text_block,
.right_side_blog_block .post_img_block {display: none;}
.left_side_blog_block { padding: 0;}
.blog_item {}
.blog-bg ul li:first-child {}
.widget-latest-data {
    color: #88e2df;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 15px;
    display: block;
}
.widget-latest-data i {color: #cccccc; position: relative; top: 2px; margin-right: 5px; font-size: 25px;}
.widget-latest-data i:before { font-size: 25px;}
.post_text_block {
    font-size: 13px;
    line-height: 23px;
    color: #888888;
}
.blog-post-view .postWrapper .post_img_block {
    width: 50%;
    margin: 0 20px 30px 0;
    float: left;
}
@media only screen and (min-width: 992px) and (max-width: 1420px) {
    .widget-latest-details i {font-size: 13px; margin-right: 3px;}

    .widget-latest-details .widget-latest-data, 
    .widget-latest-details .widget-latest-comment,
    .widget-latest-details, .widget-latest-details a {
        font-size: 11px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .widget-latest-title a {font-size: 18px; line-height: 22px;}
    .widget-latest-data {margin-bottom: 5px;}
    .widget-latest-title {margin-bottom: 10px;}
    .blog-bg .postContent {margin-bottom: 10px;}
    .blog-bg .aw-blog-read-more {margin-top: 10px;}
    .post_text_block {font-size: 12px;line-height: 18px;}
}
@media only screen and (min-width: 768px) and (max-width: 991px) { 
    .widget-latest-title a {
        font-size: 24px;
        line-height: 32px;
    }
    .widget-latest-details {padding-top: 3px;}
    .widget-latest-details .widget-latest-data, 
    .widget-latest-details .widget-latest-comment {
        display: block;
        border: 0;
        border-bottom: 1px solid #e5e5e5;
        padding-bottom: 8px;
    }
}
@media only screen and (max-width: 767px) { 
    .blog_item {margin-bottom: 40px;}
    .widget-latest .grid-clol-6 .col-item3 {width: 100%;}
    .widget-latest .postContent img {width: 100%;}

}
@media only screen and (max-width: 600px) { 
    .widget-latest-title a {font-size: 18px; line-height: 22px;}
    .widget-latest-title,
    .blog-bg .postContent,
    .widget-latest-data {
        margin-bottom: 5px;
    }
}
@media only screen and (max-width: 480px) {
    .blog_item .col-xs-6 { float: none; width: 100%;}
    .left_side_blog_block { padding: 0 15px; margin-bottom: 20px;}
    .blog-list li .post_img_block {float: none;}
}