<?xml version="1.0"?>
<!--
/**
 * Integration
 *
 * @category    Interactiv4
 * @package     Interactiv4_Integration
 * @copyright   Copyright (c) 2013 Interactiv4 SL. (http://www.interactiv4.com)
 */
-->
<config>
    <modules>
        <Interactiv4_Integration>
            <version>0.7.0</version>
        </Interactiv4_Integration>
    </modules>
    <admin>
        <routers>
			<i4integration>
				<use>admin</use>
				<args>
					<module>Interactiv4_Integration</module>
					<frontName>i4integration</frontName>
				</args>
			</i4integration>
        </routers>
    </admin>
    <adminhtml>
		<layout>
			<updates>
				<i4integration>
					<file>i4integration.xml</file>
				</i4integration>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <i4integration>
                <class>Interactiv4_Integration_Model</class>
                <resourceModel>i4integration_resource</resourceModel>
            </i4integration>
            <i4integration_resource>
                <class>Interactiv4_Integration_Model_Resource</class>
                <entities>
                    <flag>
                        <table>i4integration_flag</table>
                    </flag>
					<logs>
                        <table>i4integration_logs</table>
                    </logs>
                    <process>
                        <table>i4integration_process</table>
                    </process>
                </entities>
            </i4integration_resource>
        </models>
        <resources>
            <i4integration_setup>
                <setup>
                    <module>Interactiv4_Integration</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </i4integration_setup>
            <i4integration_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </i4integration_write>
            <i4integration_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </i4integration_read>
        </resources>
        <blocks>
            <i4integration>
                <class>Interactiv4_Integration_Block</class>
            </i4integration>
        </blocks>
        <helpers>
            <i4integration>
                <class>Interactiv4_Integration_Helper</class>
            </i4integration>
			<ftp>
                <class>Interactiv4_Integration_Helper</class>
            </ftp>
        </helpers>
		<template>
            <email>
                <import_stock_logs_template translate="label" module="integration">
                    <label>Integration - Import stock Log</label>
                    <file>integration/import_stock.html</file>
                    <type>text</type>
                </import_stock_logs_template>
            </email>
       </template>
    </global>
	<crontab>
        <jobs>
            <i4integration_sync_stock>
                <run>
                    <model>i4integration/cron::runSyncStock</model>
                </run>
            </i4integration_sync_stock>
            <i4integration_sync_price>
                <run>
                    <model>i4integration/cron::runSyncPrice</model>
                </run>
            </i4integration_sync_price>
            <i4integration_sync_customer>
                <run>
                    <model>i4integration/cron::runSyncCustomer</model>
                </run>
            </i4integration_sync_customer>
            <i4integration_sync_order>
                <run>
                    <model>i4integration/cron::runSyncOrder</model>
                </run>
            </i4integration_sync_order>
            <i4integration_sync_catalog>
                <run>
                    <model>i4integration/cron::runSyncCatalog</model>
                </run>
            </i4integration_sync_catalog>
        </jobs>
    </crontab>
    <default>
        <i4sync_stock>
            <sync>
                <enable>0</enable>
            </sync>
        </i4sync_stock>
        <i4sync_price>
            <sync>
                <enable>0</enable>
            </sync>
        </i4sync_price>
        <i4sync_customer>
            <sync>
                <enable>0</enable>
            </sync>
        </i4sync_customer>
        <i4sync_order>
            <sync>
                <enable>0</enable>
            </sync>
        </i4sync_order>
        <i4sync_catalog>
            <sync>
                <enable>0</enable>
            </sync>
        </i4sync_catalog>
    </default>
</config>