<?xml version="1.0"?>
<config>
    <modules>
        <Ontic_Survey>
            <version>1.0.0</version>
        </Ontic_Survey>
    </modules>
    <global>
        <blocks>
            <survey>
                <class>Ontic_Survey_Block</class>
            </survey>
        </blocks>
        <helpers>
            <survey>
                <class>Ontic_Survey_Helper</class>
            </survey>
        </helpers>
        <models>
            <survey>
                <class>Ontic_Survey_Model</class>
                <resourceModel>survey_resource</resourceModel>
            </survey>
            <survey_resource>
                <class>Ontic_Survey_Model_Resource</class>
                <entities>
                    <question>
                        <table>survey_question</table>
                    </question>
                    <answer>
                        <table>survey_answer</table>
                    </answer>
                    <response>
                        <table>survey_response</table>
                    </response>
                </entities>
            </survey_resource>
        </models>
        <resources>
            <ontic_survey_setup>
                <setup>
                    <module>Ontic_Survey</module>
                </setup>
            </ontic_survey_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <survey>
                <use>standard</use>
                <args>
                    <frontName>survey</frontName>
                    <module>Ontic_Survey</module>
                </args>
            </survey>
        </routers>
        <layout>
            <updates>
                <survey>
                    <file>survey.xml</file>
                </survey>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ontic_survey before="Mage_Adminhtml">Ontic_Survey_Adminhtml</ontic_survey>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
