<?xml version="1.0"?>
<config>
    <modules>
        <Interactiv4_Mrw>
            <version>3.2.4</version>
        </Interactiv4_Mrw>
    </modules>
    <global>
        <models>
            <i4mrwes>
                <class>Interactiv4_Mrw_Model</class>
                <resourceModel>i4mrwes_mysql4</resourceModel>
            </i4mrwes>
            <i4mrwes_mysql4>
                <class>Interactiv4_Mrw_Model_Mysql4</class>
                <entities>
                    <mrwes_ship>
                        <table>i4mrwes_ships</table>
                    </mrwes_ship>
                    <carrier_tablerate>
                        <table>i4mrwes_tablerate</table>
                    </carrier_tablerate>
                </entities>
            </i4mrwes_mysql4>
            <sales>
                <rewrite>
                    <order_creditmemo_total_tax>Interactiv4_Mrw_Model_Sales_Order_Creditmemo_Total_Tax</order_creditmemo_total_tax>
                    <order_invoice_total_tax>Interactiv4_Mrw_Model_Sales_Order_Invoice_Total_Tax</order_invoice_total_tax>
                </rewrite>                  
            </sales>
        </models>
        <resources>
            <i4mrwes_setup>
                <setup>
                    <module>Interactiv4_Mrw</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </i4mrwes_setup>
            <i4mrwes_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </i4mrwes_write>
            <i4mrwes_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </i4mrwes_read>
        </resources>
        <sales>
            <shipping>
                <carriers>
                    <i4mrwes>
                        <class>Interactiv4_Mrw_Model_Carrier_Mrw</class>
                    </i4mrwes>
                </carriers>
            </shipping>
            <quote>
                <totals>
                    <i4mrwes_cashondelivery_surcharge>
                        <class>i4mrwes/sales_quote_address_total_cashondeliverysurchage</class>
                        <after>shipping,tax_shipping</after>
                        <before>tax,grand_total</before>
                        <renderer>i4mrwes/tax_checkout_cashondeliverysurchage</renderer>
                    </i4mrwes_cashondelivery_surcharge>
                    <grand_total>
                        <after>i4mrwes_cashondelivery_surcharge,tax</after>
                        <before>msrp</before>
                    </grand_total>       
                    <tax>
                        <before>grand_total</before>
                        <after>i4mrwes_cashondelivery_surcharge</after>
                    </tax>
                    <msrp>
                        <after>grand_total</after>
                    </msrp>                    
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <i4mrwes_cashondelivery_surcharge>
                        <class>i4mrwes/sales_order_invoice_total_cashondeliverysurchage</class>
                        <after>shipping</after>
                        <before>tax,grand_total</before>
                    </i4mrwes_cashondelivery_surcharge>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <i4mrwes_cashondelivery_surcharge>
                        <class>i4mrwes/sales_order_creditmemo_total_cashondeliverysurchage</class>
                        <after>shipping</after>
                        <before>tax,grand_total</before>
                    </i4mrwes_cashondelivery_surcharge>
                </totals>
            </order_creditmemo>
          
        </sales>
        <blocks>
            <i4mrwes>
                <class>Interactiv4_Mrw_Block</class>
            </i4mrwes>
            <adminhtml>
                <rewrite>
                    <sales_order_shipment_view_tracking>Interactiv4_Mrw_Block_Adminhtml_Sales_Order_Shipment_View_Tracking</sales_order_shipment_view_tracking>
                </rewrite>
            </adminhtml>
        </blocks>
        <fieldsets>
            <sales_convert_quote_address>
                <i4mrwes_cashondelivery_surcharge>
                    <to_order>*</to_order>
                </i4mrwes_cashondelivery_surcharge>
                <base_i4mrwes_cashondelivery_surcharge>
                    <to_order>*</to_order>
                </base_i4mrwes_cashondelivery_surcharge>
                <i4mrwes_cashondelivery_surcharge_tax>
                    <to_order>*</to_order>
                </i4mrwes_cashondelivery_surcharge_tax>
                <base_i4mrwes_cashondelivery_surcharge_tax>
                    <to_order>*</to_order>
                </base_i4mrwes_cashondelivery_surcharge_tax>                 
            </sales_convert_quote_address>
        </fieldsets>
        <helpers>
            <i4mrwes>
                <class>Interactiv4_Mrw_Helper</class>
            </i4mrwes>
        </helpers>
        <events>
            <sales_order_shipment_save_after>
                <observers>
                    <i4mrwes_sopb>
                        <class>i4mrwes/observer_shipment</class>
                        <method>afterSave</method>
                    </i4mrwes_sopb>
                </observers>
            </sales_order_shipment_save_after>
            <controller_action_layout_generate_blocks_after>
                <observers>
                    <i4mrwes_version_compatible_templates>
                        <class>i4mrwes/observer_versioncompatibletemplates</class>
                        <method>setCorrectTemplatesForMagentoVersion</method>
                    </i4mrwes_version_compatible_templates>
                </observers>
            </controller_action_layout_generate_blocks_after>            
        </events>
        <pdf>
            <totals>
                <i4mrwes_cashondelivery_surcharge translate="title">
                    <title>Recargo contrareembolso</title>
                    <model>i4mrwes/sales_order_pdf_total_cashondeliverysurchage</model>
                    <source_field>i4mrwes_cashondelivery_surcharge</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>410</sort_order>
                </i4mrwes_cashondelivery_surcharge>
            </totals>
        </pdf>
        
    </global>
    <frontend>
        <translate>
            <modules>
                <Interactiv4_Mrw>
                    <files>
                        <default>Interactiv4_Mrw.csv</default>
                    </files>
                </Interactiv4_Mrw>
            </modules>
        </translate>
        <routers>
            <i4mrwes>
                <use>standard</use>
                <args>
                    <module>Interactiv4_Mrw</module>
                    <frontName>i4mrwes</frontName>
                </args>
            </i4mrwes>
        </routers>
        <layout>
            <updates>
                <i4mrwes>
                    <file>i4mrwes.xml</file>
                </i4mrwes>
            </updates>
        </layout>

    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Interactiv4_Mrw>
                    <files>
                        <default>Interactiv4_Mrw.csv</default>
                    </files>
                </Interactiv4_Mrw>
            </modules>
        </translate>
        <layout>
            <updates>
                <i4mrwes>
                    <file>i4mrwes.xml</file>
                </i4mrwes>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <i4mrwes>
                <use>admin</use>
                <args>
                    <module>Interactiv4_Mrw</module>
                    <frontName>i4mrwes</frontName>
                </args>
            </i4mrwes>
        </routers>
    </admin>
    <default>
        <carriers>
            <i4mrwes>
                <account></account>
                <active>0</active>
                <title>Mrw España</title>
                <agent>Interactiv4_Mrw/1.0.0</agent>
                <model>i4mrwes/shipping_carrier_mrw</model>
                <name>Mrw España</name>
                <mode>02</mode>
                <debug>0</debug>
                <max_package_weight>100</max_package_weight>
                <password backend_model="adminhtml/system_config_backend_encrypted"/>
                <password_seguimiento backend_model="adminhtml/system_config_backend_encrypted"/>
                <username backend_model="adminhtml/system_config_backend_encrypted"/>
                <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
                <url_envios>http://sagec.mrw.es/MRWEnvio.asmx?wsdl</url_envios>
                <url_envios_dev>http://sagec-test.mrw.es/MRWEnvio.asmx?wsdl</url_envios_dev>
                <url_tracking>http://seguimiento.mrw.es/swc/wssgmntnvs.asmx?wsdl</url_tracking>
                <skip_packed_shipment_dialog>0</skip_packed_shipment_dialog>
                <i4tablerates>
                    <grid_title>MRW Table Rates</grid_title>
                    <tablerates_db_table>i4mrwes/carrier_tablerate</tablerates_db_table>
                    <features>
                        <price_vs_dest>1</price_vs_dest>
                        <cash_on_delivery>1</cash_on_delivery>
                        <cod_min_surcharge>1</cod_min_surcharge>
                    </features>
                    <db_table_field_names>
                        <weight_price>weight</weight_price>
                        <price_percentage>price</price_percentage>
                    </db_table_field_names>
                    <method_source>i4mrwes/shipping_carrier_mrw_source_method</method_source>
                    <export_action>i4mrwes/adminhtml_index/export</export_action>
                    <import>
                        <resource_class>i4mrwes/carrier_tablerate</resource_class>
                        <method>uploadAndImport</method>
                    </import>
                </i4tablerates>     
                <i4bulksend>
                    <supports_bulk_send>1</supports_bulk_send>
                </i4bulksend>
                <i4packedshipment>
                    <logo>i4mrwes.jpg</logo>
                </i4packedshipment>
            </i4mrwes>
        </carriers>
        <payment>
            <i4mrwes_cashondelivery>
                <active>1</active>
                <title>Contrareembolso</title>
                <total_title>Recargo contrareembolso</total_title>
                <order_status>mrwes_pending_cashondelivery</order_status>
                <model>i4mrwes/payment_cashondelivery</model>
                <all_allowed_countries>AD,ES,GI,PT</all_allowed_countries>
            </i4mrwes_cashondelivery>
        </payment>
        <sales>
            <totals_sort>
                <i4mrwes_cashondelivery_surcharge>35</i4mrwes_cashondelivery_surcharge>
            </totals_sort>
        </sales>
    </default>
</config>
