<?xml version="1.0"?>
<config> 
    <modules>
        <Interactiv4_RedsysPro>
            <version>1.2.1</version>
        </Interactiv4_RedsysPro>
    </modules>
    <global>
        <sales>
            <order>
                <statuses>
                    <redsyspro_pending translate="label">
                        <label>Redsys - Pago No Confirmado</label>
                    </redsyspro_pending>
                    <redsyspro_ok translate="label">
                        <label>Redsys - Pago Ok</label>
                    </redsyspro_ok>
                    <redsyspro_no_email_notification translate="label">
                        <label>Redsys - Email Notification Not Received</label>
                    </redsyspro_no_email_notification>
                </statuses>
                <states>
                    <pending_payment translate="label">
                        <statuses>
                            <redsyspro_pending />
                        </statuses>
                    </pending_payment>
                    <processing>
                        <statuses>
                            <redsyspro_ok />
                            <redsyspro_no_email_notification />
                        </statuses>
                    </processing>
                </states>
            </order>
        </sales>
        <models>
            <i4redsyspro>
                <class>Interactiv4_RedsysPro_Model</class>
                <resourceModel>i4redsyspro_mysql4</resourceModel>
            </i4redsyspro>
            <i4redsyspro_mysql4>
                <class>Interactiv4_RedsysPro_Model_Mysql4</class>
                <entities>
                    <redsyspro_notification>
                        <table>i4redsyspro_notifications</table>
                    </redsyspro_notification>
                    <redsyspro_refund>
                        <table>i4redsyspro_refunds</table>
                    </redsyspro_refund>
                </entities>
            </i4redsyspro_mysql4>
        </models>
        <resources>
            <i4redsyspro_setup>
                <setup>
                    <module>Interactiv4_RedsysPro</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </i4redsyspro_setup>
            <i4redsyspro_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </i4redsyspro_write>
            <i4redsyspro_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </i4redsyspro_read>
        </resources>
        <helpers>
            <i4redsyspro>
                <class>Interactiv4_RedsysPro_Helper</class>
            </i4redsyspro>
        </helpers>
        <blocks>
            <i4redsyspro>
                <class>Interactiv4_RedsysPro_Block</class>
            </i4redsyspro>
            <adminhtml>
                <rewrite>
                    <sales_order_payment>Interactiv4_RedsysPro_Block_Adminhtml_Sales_Order_Payment</sales_order_payment>
                </rewrite>
            </adminhtml>
        </blocks>
    </global>
    <crontab>
        <jobs>
            <i4checkemailnotifications>
                <run>
                    <model>i4redsyspro/cron_checkemailnotifications::checkEmailNotifications</model>
                </run>
            </i4checkemailnotifications>
        </jobs>
    </crontab>
    <frontend>
        <secure_url>
            <i4redsyspro>/i4redsyspro</i4redsyspro>
        </secure_url>
        <routers>
            <i4redsyspro>
                <use>standard</use>
                <args>
                    <module>Interactiv4_RedsysPro</module>
                    <frontName>i4redsyspro</frontName>
                </args>
            </i4redsyspro>
        </routers>
        <translate>
            <modules>
                <Interactiv4_RedsysPro>
                    <files>
                        <default>Interactiv4_RedsysPro.csv</default>
                    </files>
                </Interactiv4_RedsysPro>
            </modules>
        </translate>
        <layout>
            <updates>
                <i4redsyspro>
                    <file>i4redsyspro.xml</file>
                </i4redsyspro>
            </updates>
        </layout>
        <events>
            <!-- Hooking to Magento's default event "controller_action_predispatch" -->
            <controller_action_predispatch>
                <observers>
                    <i4redsyspro_controller_action_before>
                        <class>i4redsyspro/observer</class>
                        <method>unsetI4RedsysCookie</method>
                    </i4redsyspro_controller_action_before>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>
    <adminhtml>
        <translate>
            <modules>
                <Interactiv4_RedsysPro>
                    <files>
                        <default>Interactiv4_RedsysPro.csv</default>
                    </files>
                </Interactiv4_RedsysPro>
            </modules>
        </translate>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <i4redsyspro_core_block_abstract_to_html_before>
                        <type>singleton</type>
                        <class>i4redsyspro/observer_info</class>
                        <method>changeTemplateIfNeeded</method>
                    </i4redsyspro_core_block_abstract_to_html_before>
                </observers>
            </core_block_abstract_to_html_before>
            <controller_action_postdispatch_adminhtml_system_config_save>
                <observers>
                    <i4redsyspro_controller_action_postdispatch_adminhtml_system_config_save>
                        <type>singleton</type>
                        <class>i4redsyspro/observer</class>
                        <method>asdfghqwerty</method>
                    </i4redsyspro_controller_action_postdispatch_adminhtml_system_config_save>
                </observers>
            </controller_action_postdispatch_adminhtml_system_config_save>
        </events>
    </adminhtml>
    <default>
        <payment>
            <i4redsyspro>
                <active>1</active>
                <model>i4redsyspro/standard</model>
                <prefijo>001</prefijo>
                <title>RedsysPro</title>
                <allowspecific>0</allowspecific>
                <order_status>pending</order_status>
                <redirect_status>pending</redirect_status>
                <payment_action>Sale</payment_action>
                <error_status>canceled</error_status>
                <sendmailorderconfirmation>1</sendmailorderconfirmation>
                <redsysenvironment>0</redsysenvironment>
                <autoinvoice>O</autoinvoice>
                <checkoutmessage>Se le redirigira a la pasarela de pago en el paso final del checkout</checkoutmessage>
                <redirectmsg>Será redirigido a la pasarela de Redsys en breves segundos.</redirectmsg>
                <redirecttimeout>3000</redirecttimeout>
                <bank>default</bank>
                <serviceurloverride>redsys</serviceurloverride>
                <banksettings>
                    <default>
                        <serviceurl>sermepa</serviceurl>
                    </default>
                    <lacaixa>
                        <serviceurl>redsys</serviceurl>
                    </lacaixa>
                    <santander>
                        <serviceurl>redsys</serviceurl>
                    </santander>
                    <deutschebank>
                        <serviceurl>redsys</serviceurl>
                    </deutschebank>
                    <barclays>
                        <serviceurl>redsys</serviceurl>
                    </barclays>
                    <cajamar>
                        <serviceurl>redsys</serviceurl>
                    </cajamar>
                    <ing>
                        <serviceurl>redsys</serviceurl>
                    </ing>
                    <bankinter>
                        <serviceurl>redsys</serviceurl>
                    </bankinter>
                    <cajarural>
                        <serviceurl>redsys</serviceurl>
                    </cajarural>
                    <banesto>
                        <serviceurl>redsys</serviceurl>
                    </banesto>
                </banksettings>
                <serviceurl>
                    <sermepa>
                        <productionurl>https://sis.sermepa.es/sis/</productionurl>
                        <testurl>https://sis-t.sermepa.es:25443/sis/</testurl>
                    </sermepa>
                    <redsys>
                        <productionurl>https://sis.redsys.es/sis/</productionurl>
                        <testurl>https://sis-t.redsys.es:25443/sis/</testurl>   
                    </redsys>                            
                </serviceurl>
                <sslversion>6</sslversion>
                <signaturealgorithm>2</signaturealgorithm>
                <devpassword>qwertyasdf0123456789</devpassword>
                <devpassword256>sq7HjrUOBfKmC576ILgskD5srU870gJ7</devpassword256>
           </i4redsyspro>
           <i4redsysproemailnotification>
                <checknotificationemail>0</checknotificationemail>
                <checknotificationfrequency>*/5 * * * *</checknotificationfrequency>
                <protocol>POP3</protocol>
                <port>110</port>
                <security>0</security>
                <attempts>5</attempts>
                <expectedsenderemail>sermepa.es, redsys.es</expectedsenderemail>
                <orderstatus>redsyspro_no_email_notification</orderstatus>
           </i4redsysproemailnotification>
        </payment>
    </default>
</config>
